*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgb(255, 230, 0);
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url(images/mainbg.png);
}

/*MENU ICON ANIMATION*/

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/* NAVBAR */
.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(117, 117, 117);
    padding: 0.7rem;
}

.menu-icon {
    display: inline-block;
    cursor: pointer;
    align-self: center;
}

#logo{
    justify-self: end;
    align-self: center;
}

/*MAIN BG SECTION*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.text-logo{
    color: white;
    font-size: 5rem;
}

/*TEXT SECTION*/

.text-section{
    margin-top: 5.5rem;
}

.section{
    background-color: green;
    color: white;
}