:root{
    --dark-green: #102820;
    --light-green: #4c6444;
    --kaki: #caba9c;
    --light-brown: #8a6240;
    --dark-brown: #4d2d18;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url(../images/mainbg.png);        
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*MENU ICON ANIMATION*/

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/* NAVBAR */
.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--light-green);
    padding: 0.7rem;
    position: fixed;
    width: 100%;
}

.menu-icon {
    display: inline-block;
    cursor: pointer;
    align-self: center;
}

.img-box{
    justify-self: end;
    align-self: center;
    width: auto;
    height: 3rem;
    margin-right: -1.5rem;
}

#logo{
    object-fit: cover;
    width: 150px;
    height: 60px;
}

/*SIDEBAR*/
.sidebar{
    height: 100%;
    width: 400px;
    left: -400px;
    z-index: 1;
    position: fixed;                    
    background-color: var(--light-green);
    overflow-x: hidden;
    transition: 0.6s;
    top: 4.3rem;
}

.sidebar-list{
    list-style-type: none;
}

.sidebar-item{
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar-item:hover{
    background-color: var(--kaki);
}

.side-anchor{
    text-decoration: none;
    color: inherit;
    display: block;
}


/*MAIN BG SECTION*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 2rem;
    flex-direction: column;
    gap: 1rem;
}

.container q{
    color: white;
    text-shadow: 3px 3px 3px var(--dark-green);
    font-size: 1.3rem;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
}

.text-logo{
    color: white;
    font-size: 6rem;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;        /*to ok*/
    letter-spacing: 0.3rem;
    text-shadow: 4px 4px 4px var(--dark-green);
}

.text-logo + p{
    font-family: 'Rethink Sans', sans-serif;
    margin-top: 2rem;
    font-size: 2.2rem;
    color: white;
    text-shadow: 4px 4px 4px var(--dark-green);
    display: flex;
    text-align: center;
}

/*TEXT SECTION*/

.section{
    background-color: var(--light-green);
    color: white;
    padding: 1.5rem;
    padding-right: 2rem;
    text-align: justify;
    border-top: 1px solid var(--light-green);
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    scroll-margin-top: 7rem;
    margin-top: -2rem;
}

.section h3{
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--dark-green);
    border-radius: 2rem;
    margin-bottom: 0.4rem;
}

.section p{
    border: 2px solid var(--dark-green);
    border-radius: 1rem;
    padding: 0.8rem;
}


/*VPRASANJA*/

.vprasanja-container{
    border: 2px solid var(--dark-green);
    border-radius: 1rem;
    padding: 0.6rem;
}

.vprasanja-list{
    border-bottom: 2px solid white;
    cursor: pointer;
    padding: 0.3rem;
    margin-bottom: 0.5rem;

}
.vprasanja-list p{
    border: none;
}
.vprasanje{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vprasanje p, .odgovor p{
    text-align: left;
}

.vprasanje p{
    font-weight: 900;
    letter-spacing: 0.1rem;
}

.odgovor{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.2s ease;
}

.vprasanja-list.active .odgovor{
    max-height: 200px;
    animation: fade 1s ease-in-out;
}

.vprasanja-list.active i{
    transform: rotate(180deg);
}

.fa-chevron-down{
    transition: transform .5s ease-in;
}

@keyframes fade{
    from{
        opacity: 0.8;
        transform: translateY(-2px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

/*IMAGES FOR BG*/


.text-section img{
    height: 80vh;
    width: 100vw;
}

.parallax1, .parallax2, .parallax3{
    min-height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    /* background-attachment: fixed; */
}

.parallax1{background-image: url(../images/look-up-look-down-photography--o7ASOHDV9E-unsplash.jpg);}
.parallax3{background-image: url(../images/kouji-tsuru-hkilGmT85ss-unsplash.jpg);}
.parallax2{background-image: url(../images/petar-tonchev-c-5-QE5kBYk-unsplash.jpg);}


/*INFO-CARDS | FOOTER*/

.footer-container{
    display: flex;
    flex-direction: column;
    background-color: var(--light-green);
    border-top-right-radius: 4rem;
    border-top-left-radius: 4rem;
    padding: 2rem;
    margin-top: -5rem;
}

.info-cards{
    display: flex;
    justify-content: center;
    background-color: var(--light-green);
    align-items: center;
    gap: 10rem;
    padding-left: 4rem;
    border: 2px solid var(--dark-green);
    border-radius: 1rem;
}

.bot-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    padding-top: 2rem;
}

.bot-footer i{
    font-size: 1.5rem;
    color: white;
}

.bot-footer i:hover{
    color: var(--kaki);
    cursor: pointer;
}

.contact i{
    height: 1rem;               
    width: 1rem;
    margin-right: 0.8rem;
} 

.contact h3:hover{
    color: var(--kaki);
}

.contact h3{
    position: relative;
    color: white;
    margin-bottom: 0.7rem;
    padding-bottom: 0.3rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

.contact h3::after{
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--kaki);
    transform-origin: bottom left;
    transition: transform 0.35s ease-out;
}

.contact h3:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mid-footer{
    padding-bottom: 1.5rem;
}

#toTop{
    text-align: center; 
    font-size: 1.3rem;
    margin-bottom: -2rem;
    padding-top: 1rem;
}

#toTop i:hover{
    font-size: 1.4rem;
    color: var(--kaki);
    cursor: pointer;
}

#toTop a{
    text-decoration: none;
    color: white;
}

.form{                             
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form input, textarea, button{
    border-radius: 0.5rem;
    border: none;
    height: 1.5rem;
    padding: 0.5rem;
    color: white;
}

.form input, textarea{
    padding: 0.8rem;
    background-color: var(--dark-green);
}

.form input:focus, textarea:focus{
    outline: 2px solid var(--kaki);
}

.form textarea{
    height: 5rem;
}

.form button{
    color: white;
    border: 2px solid var(--dark-green);
    background: transparent;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.form button:hover{
    background-color: var(--dark-green);
    border: 2px solid var(--kaki);
    cursor: pointer;
}

::placeholder{
    color: white;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    opacity: 1;
    margin-left: 0.2rem;
}

input:focus, textarea:focus{
    color: white;
}


.map iframe{
    height: 22vh;
    width: 20vw;
    padding: 1rem;
}


/* SCROLLBAR STYLES */
::-webkit-scrollbar {
    width: 0.8rem;
  }
  
::-webkit-scrollbar-track {
    background: var(--light-green);
  }
  
::-webkit-scrollbar-thumb {
    background: var(--dark-green);
    border-radius: 1rem;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: var(--kaki);
  }




/*MEDIA QUERRIES FOR PHONE/SMALLER-SCREEN (<1250px) -> remove map balance footer*/

@media screen and (max-width: 1200px) {

    .map{
        display: none;
    }

    .info-cards{
        padding: 1.5rem;
    }
    .container{
        text-align: center;
    }
}

@media screen and (max-width: 760px){
    .info-cards{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .contact{
        gap: 0.1rem;
    }

    .container{
        text-align: center;
    }
    .container p{
        padding: 1rem;
        font-size: 1.8rem;
    }

}

@media screen and (max-width: 480px){
    .container{
        text-align: center;
    }
    .text-logo{
        font-size: 4.5rem;
        line-height: 6rem;
    }


}


/*4K SCREEN SIZE FIX BUGS*/